<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title>Our library</title>
  </head>
  <body style='padding: 0px 20px'>
    <h1>Welcome to our Library!</h1>
    <p>You're browsing our Author <b>{{ author.name}}</b> (born in {{ author.country.name }}):</p>
    <p>Our collection includes:</p>
    <ul>
      {% for book in author.book_set.all %}
        <li>{{ book.title }} ({{ book.popularity }})</li>
      {% endfor %}
    </ul>
  </body>
</html>
